<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weekly WebSec Review Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1024px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/weekly">Weekly</a></li>
          <li><a href="/quarterly">Quarterly</a></li>
        </ul>
        <h3 class="muted">Security Review Stats</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <div id="chart" style="width: 960px; height: 420px"></div>
      </div>

      <div class="row-fluid marketing">
        <div class="span12">
          <h4>Bugzilla Queries</h4>
          <table class="table">
            <tr>
              <td>Number of Reviews Completed This Quarter</td>
              <td><b id="completed_this_quarter"></b></td>
              <td><a href="https://bugzilla.mozilla.org/buglist.cgi?resolution=FIXED;query_format=advanced;chfield=resolution;chfieldfrom={{current_quarter_start}};type0-0-0=anywords;component=Security%20Assurance%3A%20Review%20Request;product=mozilla.org">Query</a></td>
            </tr>
            <tr>
              <td>Number of Outstanding Reviews</td>
              <td><b id="total_outstanding"></b></td>
              <td><a href="https://bugzil.la/comp%3A%22security%20assurance%3A%20review%20request%22">Query</a></td>
            </tr>
            <tr>
              <td>Number of Reviews Ready For Review</td>
              <td><b id="ready_for_review"></b></td>
              <td><a href="https://bugzil.la/component%3A%22Security%20Assurance%3A%20Review%20Request%22%20%2Bsw%3A%22pending%22%20-flag%3A%22needinfo%22">Query</a></td>
            </tr>
            <tr>
              <td>Number of reviews without risk rating</td>
              <td><b id="without_risk_rating"></b></td>
              <td><a href="https://bugzil.la/component%3A%22Security%20Assurance%3A%20Review%20Request%22%20-sw%3A%22%5Bneeds%20info%5D%22%20-sw%3A%22%5Bscore%3A%22">Query</a></td>
            </tr>
            <tr>
              <td>Number of reviews without deadline set</td>
              <td><b id="without_deadline"></b></td>
              <td><a href="https://bugzilla.mozilla.org/buglist.cgi?field0-0-0=cf_due_date;query_format=advanced;resolution=---;type0-0-0=isempty;component=Security%20Assurance%3A%20Review%20Request;product=mozilla.org">Query</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row-fluid marketing">
       <div class="span12">
          <h4>Find Your Reviews</h4>
          <table class="table">
            <tr>
              <td>Your Reviews With Missing Risk Rating</td>
              <td><a href="https://bugzil.la/component%3A%22Security%20Assurance%3A%20Review%20Request%22%20-sw%3A%22%5Bneeds%20info%5D%22%20-sw%3A%22%5Bscore%3A%22%20owner:%25user%25">Query</a></td>
            </tr>
            <tr>
              <td>Your Reviews With Missing Deadline</td>
              <td><a href="https://bugzilla.mozilla.org/buglist.cgi?field0-0-0=cf_due_date;query_format=advanced;resolution=---;type0-0-0=isempty;component=Security%20Assurance%3A%20Review%20Request;product=mozilla.org;field1-0-0=assigned_to;type1-0-0=equals;value1-0-0=%25user%25">Query</a></td>
            </tr>
          </table>
       </div>
     </div>

      <hr>

      <div class="footer">
        <p>Source code on <a href="">github/st3fan/security-review-statistics</a></p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/boostrap/js/bootstrap.js"></script>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
  var options = {
    chart: {
      renderTo: 'chart',
      type: 'spline',
      marginBottom: 72
    },
    title: {
      text: 'Security Review Status'
    },
    subtitle: {
      text: 'Measured Every Tuesday'
    },
    xAxis: {
      categories: [],
    },
    yAxis: {
      title: {
        text: 'Bug Count'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }],
      min: 0
    },
    tooltip: {},
    legend: {},
    series: []
  };

  $.get('/weekly-review-statistics', function(data) {
    options.series = data.series;
    options.xAxis.categories = data.categories;
    for (var i = 0; i < data.categories.length; i++) {
      if (data.categories.length % 2 == 0) {
        if (i % 2 == 0) {
          data.categories[i] = "";
        }
      } else {
        if (i % 2 == 1) {
          data.categories[i] = "";
        }
      }
    }
    var chart = new Highcharts.Chart(options);
    $("#completed_this_quarter").text(data.series[0].data[data.series[0].data.length-1]);
    $("#total_outstanding").text(data.series[1].data[data.series[1].data.length-1]);
    $("#ready_for_review").text(data.series[2].data[data.series[2].data.length-1]);
    $("#without_risk_rating").text(data.series[3].data[data.series[3].data.length-1]);
    $("#without_deadline").text(data.series[4].data[data.series[4].data.length-1]);
  });

});
</script>
  </body>
</html>
